div.stButton > button:first-child {
    width: 100%;
    text-align: center;
}

.stButtonCenter {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

st.markdown(
    .center-title {
        text-align: center;
    }
)

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.custom-table th {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}